:root{
    --blue: #663399;
    --grey: #1F2937;
    --silver: #F4F4F5;

}
body{
    margin: 0px;
}


h1{
    
    text-align: center;
}

header{
    padding: 1vw 0;
    background-color: var(--blue);
    color: var(--silver);
     
}

img{
   width:100%;
   height: auto; 
}
#img{
   width:40%;
}

.container-flex{
    display: flex;
    flex-direction: row;
    background-color: var(--silver);
    padding-top: 5vw;
     
}

.container-input{
    
     padding-left: 2vw;
     padding-right:2vw;
     color: var(--grey);
         
}


#btn{
    display: block;
    margin: 1vw 2vw;
    color: var(--grey);
    background-color: var(--silver);
    border: 1px solid var(--grey);
}

.container-info{
    width:40%;
    padding-left:2vw;
    color: var(--grey);
    
   }

   #graphics{
    display: flex;
    width:100%;
       
   }

   .list{
       list-style: none;
   }

   #date{
       width:80%;
   }

   #number{
       width:80%;
   }

   
